<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doggocity.projectsoc">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_dark_small"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_dark_small"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AddHelpActivity"></activity>
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Records"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoggocityPresov"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3pd5W_9Vlq41nKpuqcSK_PtUV-y_H-34" />
    </application>

</manifest>